body {
    height: 100%;
}
.form-group {
    padding: 5%;
}
img {
    width: 100px;
}
.form-wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}
#timer-bar {
    display: contents;
}
#start-button {
    width: 125px;    
}
.carousel-wrapper {
    display: none;
    margin: 10% 5%;
}
.carousel-item {
    height: 100%;
}