body {
    height: 100%;
}
h1, h2, h3 {
    text-align: center;
}
.form-group {
    padding: 5%;
}
img {
    width: 100px;
}
.form-wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}
.carousel-wrapper {
    display: none;
    margin: 10% 5%;
}
.carousel-item {
    height: 100%;
}
.result {
    display: none;
    margin: 20px auto;
    text-align: center;
}
.band-pic {
    width: 100%;
}
.album-art {
    width: 100%;
}
#timer-bar {
    display: contents;
}
#start-button {
    width: 125px;    
}
#jumbotron2 {
    display: none;
}